.booking {
    background-color: rgb(29, 29, 29);
    color: white;
    width: 100%;
    padding: 25px;
}
label{
    background-color: grey;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
}

input, select{
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: black;
}
.flights{
    background: white;
    height: 50%;
}
table{
    margin: auto;
    width: 85%;
    margin-top: 30px;
    border-collapse: collapse;
}
th, td{
    border: 1px solid lightgrey;
    text-align: center;
}

tr:hover{
    background-color: lightgrey;
}
h1{
    border: 12px inset grey;
    background-color:darkgrey;
    margin: 10px;
    text-align: center;
    color:black;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    padding: 20px;
    font-size: 60px;
    font-family: Comic;
    font-style: bold;
}
